
    .container {
        margin-top: 20px;
    }

    h1 {
        color: #333;
    }

    form {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    input[type="text"],
    select {
        width: 200px;
    }

    button {
        margin-top: 10px;
    }

    div {
        margin-bottom: 15px;
    }

    hr {
        border-top: 1px solid #ddd;
        margin: 15px 0;
    }

    .pagination-links {
        margin-top: 20px;
    }

    .pagination-link {
        display: inline-block;
        padding: 5px 10px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 3px;
        margin-right: 5px;
    }

    .pagination-link:hover {
        background-color: #0056b3;
    }

    .neon {
        text-shadow: 0 0 10px #00fff9, 0 0 20px #00fff9, 0 0 30px #00fff9;
    }

    .role-read-only {
        background-color: #f8f9fa;
        pointer-events: none;
    }

